body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;

}

body{
  background-image: url("https://images.unsplash.com/photo-1512058556646-c4da40fba323?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGZyaWVkJTIwcmljZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  /*padding: 20em;*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  /*background-position: auto ;*/

}
.cart{
	height: 40px;
	width: 40px;
}