@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body {
  margin: 0;
  padding: 0;
 font-family: Georgia, serif;
  background: #fff;

}
.heading {
  height: 100px;
  margin-left: 75%;
}
.logo{
  margin: 30px auto;
  background: #000;
  height: 250px;
}
.plate-icon{
  margin-top: -170px;
  margin-left: 33%;
}
h1{
   color: #fff;
   margin-top: -150px ;
   margin-left: 45%;
   font-family: 'Dancing Script', cursive;
   font-size: 45px;
}
.cart{
	height: 30px;
	width: 30px;
}

li{
  margin-left: 75%;
  list-style: none;
  display: inline;
  word-spacing: 2px;
}
a {
  text-decoration: none;
  color: #000;
}
.food-samples img{
  height: 250px;
  width: 250px;
}
.about-us {
    margin-left: 70%;
    margin-right: auto;
    width: 20em;

}